html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(property="og:title", content="Presidential Candidate Tweet Tracker")
    meta(property="og:image", content="https://i.imgsafe.org/f72cc63.png")
    meta(property="og:description", content="Track total tweets, sentiment, and trending hashtags for presidential candidates. Built with Node.js, React.js, Socket.io")

    title Presidential Candidate Tweet Tracker
    link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300', rel='stylesheet', type='text/css')
    link(href='/stylesheets/odometer.css', rel="stylesheet")
    link(href='/stylesheets/custom.css', rel="stylesheet")
  body
        #react-mount



    script(src="javascripts/odometer.js")
    script(src="javascripts/react.js")
    script(src="javascripts/react-dom.js")
    script(src="javascripts/build/app.js")
    script(src="/socket.io/socket.io.js")
    script var socket = io();